In [1]:
import pandas as pd

In [2]:
test_frame1 = pd.read_csv("Beers.csv")

In [3]:
test_frame1

   Series        Beer Name   Beer Type                 Description  ABV
0       0        Green IPA    Pale Ale                NE-style IPA  6.7
1       1  Blue Double IPA    Pale Ale        More DPS! MOAR HOPS!  8.1
2       2        Red Lager       Lager          A fine Irish lager  4.5
3       3  Pink Lager Lite       Lager              A wee bit less  4.1
4       4  Yellow Whitbier  Wheat Beer   Great for mowing the lawn  3.8
5       5    White Pilsner       Lager            Blue-collar beer  4.6
6       6        Brown Ale         Ale         Goes well with beef  5.7
7       7     Black Porter       Stout  Drink before drinking beer  4.1
8       8      Violet Bock         Ale       It will get your goat  6.4
9       9     Golden Steam       Lager        Californian favorite  4.8

In [5]:
test_frame2 = pd.read_csv("Stores.csv")
test_frame2

,Series,Store Name,Address,Lat,Long,Last Stocked,Beer 0,Beer 1,Beer 2,Beer 3,Beer 4,Beer 5,Beer 6,Beer 7,Beer 8,Beer 9
0,0,Wegman's,"3325 W Genesee St, Syracuse, NY 13219",43.047,-76.227,5/1/2019,True,True,True,True,True,True,True,True,True,True
1,1,Sunoco,"2101 W Genesee St, Syracuse, NY 13219",43.048,-76.197,5/3/2019,True,True,False,False,True,True,False,False,False,False
2,2,Sunoco,"1000 W Genesee St, Syracuse, NY 13204",43.054,-76.171,4/26/2019,True,True,False,True,False,False,True,True,False,False
3,3,Nichol's Supermarket,"327 1st St, Liverpool, NY 13088",43.402,-76.208,5/1/2019,True,True,True,False,True,True,True,True,True,False
4,4,Wegman's,"6789 E Genesee St, Fayetteville, NY 13066",43.033,-76.053,4/30/2019,True,True,True,True,True,True,True,True,True,True
5,5,Wegman's,"4722 Onondaga Blvd, Syracuse, NY 13219",43.031,-76.192,4/30/2019,True,True,True,True,True,True,True,True,True,True
6,6,Tops Market,"700 1st N St, Syracuse, NY 13208",43.069,-76.149,4/29/2019,False,False,False,True,True,True,True,False,False,False
7,7,Alamo's Food Market,"128 Walton St, Syracuse, NY 13202",43.048,-76.155,4/27/2019,False,False,False,True,False,False,True,True,False,True
8,8,Downtown Grocery,"355 S Warren St, Syracuse, NY 13202",43.047,-76.151,4/27/2019,False,False,False,False,True,True,False,False,False,False
9,9,Walgreens,"2329 James St, Syracuse, NY 13206",43.069,-76.114,5/1/2019,True,True,True,True,False,False,False,False,False,False